{% extends "base.html" %}

{% block title %}News Bot - Meu Portfólio{% endblock %}

{% block content %}
<div class="container mx-auto py-12 text-center">
    <h1 class="text-4xl font-bold text-gray-800 mb-6">Scraper de Notícias, Resumo com API do GPT e<br> Envio via Telegram</h1>
    <p class="text-gray-600 text-lg mb-4">Este projeto realiza o web scraping de notícias da CNN Brasil utilizando Selenium,<br>resume os conteúdos usando a API da OpenAI e envia os resumos via Telegram.</p>
    
    <div class="max-w-3xl mx-auto bg-white shadow-md rounded-lg p-6 text-left">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">📌 Sobre o Projeto</h2>
        <p class="text-gray-600 mb-6">Esse projeto foi feito com o intuito de mostrar mais um pouco de habilidades com scraping e também de explorar o uso e consumo de api's, como a da Open AI, que foi utilizada para rusumir matérias e a do telegram para o envio automatizado de mensagens.</p>        
        
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">🚀 Tecnologias Utilizadas</h2>
        <ul class="list-disc pl-6 text-gray-600">
            <li>Python</li>
            <li>Selenium</li>
            <li>OpenAI API</li>
            <li>Requests</li>
            <li>Dotenv</li>
            
        </ul>
        
        <h2 class="text-2xl font-semibold text-gray-800 mt-6 mb-4">🔗 Links</h2>
        <a href="https://github.com/galvao1290/News-Bot" class="text-blue-600 hover:underline">Repositório no GitHub</a>
    </div>
</div>
{% endblock %}
